@import 'tailwindcss';

body {
  font-family: 'Fira Code Variable';
}

html {
  scrollbar-gutter: stable both-edges;
}

.noise {
  position: absolute;
  opacity: 0.2;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  mix-blend-mode: overlay;
  background-image: url("@/assets/noise.png");
  image-rendering: pixelated;
  pointer-events: none;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border: 2px solid #0000;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}